<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle">
        <span class="icon-bar">1</span>
        <span class="icon-bar">2</span>
        <span class="icon-bar">3</span>
      </button>
      <a href="#" class="navbar-brand">在线竞拍</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">关于我们</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">关于我们</a></li>
      </ul>
    </div>
  </div>
</nav>
